In [1]:
import numpy as np
import pandas as pd
from scipy.stats import expon

# Set a seed for reproducibility
np.random.seed(42)

# Parameters
n = 1000  # Number of individuals
rate = 0.1  # Event rate (for exponential distribution)

# Generate survival times from exponential distribution
survival_times = expon(scale=1/rate).rvs(n)

# Generate random censoring times
censoring_times = np.random.uniform(0, 5*365, size=n)



# Observed time is the minimum of survival time and censoring time
observed_times = np.minimum(survival_times, censoring_times)

# Create an event indicator (1 if event observed, 0 if censored)
events = (survival_times <= censoring_times).astype(int)

#Create random columns containing 4
variables = {}
random_array = ['A', 'B', 'C', 'D']
for i in range(10):
    
    variables[f'var{i}'] = np.random.choice(random_array, 1000, p=[0.25, 0.25, 0.25, 0.25])



random_array = ['A', 'B', 'C', 'D']
for i in range(10):
    
    variables[f'var_num{i}'] = np.random.uniform(0, np.random.uniform(0,100), size=n)

# Put data into a pandas DataFrame
survival_data = pd.DataFrame({
    'observed_times': observed_times,
    'events': events
})

variable_data = pd.DataFrame(variables)

df = variable_data.join(survival_data)

# Show the first few rows of the simulated data
print(df.head())

  var0 var1 var2 var3 var4 var5 var6 var7 var8 var9  ...   var_num2  var_num3  \
0    B    C    C    B    C    A    C    D    B    C  ...  31.747255  1.545931
1    A    D    D    B    A    A    C    C    B    A  ...  51.532997  1.827060
2    D    B    D    D    D    D    A    C    A    C  ...  59.738450  2.148076
3    A    C    A    B    C    D    D    B    C    B  ...  25.320500  4.709956
4    B    C    A    D    A    B    C    C    B    A  ...  38.884366  4.198165

    var_num4   var_num5   var_num6   var_num7   var_num8   var_num9  \
0  21.640974  37.956345  31.838435   9.235606  16.344478  10.037296
1  46.062717  32.998402  19.789546   9.749060  29.409930   6.246261
2   5.958061  80.760450   6.121869  51.536013   2.331833  12.924078
3  50.875318  61.917112  22.703471  49.211207   9.643549   1.126118
4  37.027961  80.365080  33.891674  25.792552  22.690364   3.074876

   observed_times  events
0        4.692681       1
1       30.101214       1
2       13.167457       1
3        9.129426       1
4        1.696249       1

[5 rows x 22 columns]

#chekc data for censored

In [2]:
df[df['events'] == 0]

,var0,var1,var2,var3,var4,var5,var6,var7,var8,var9,...,var_num2,var_num3,var_num4,var_num5,var_num6,var_num7,var_num8,var_num9,observed_times,events
799,A,C,C,A,C,B,B,D,A,B,...,61.308242,3.762250,86.012791,39.706868,33.722447,1.235584,33.909035,3.443888,22.097967,0
921,C,B,C,D,A,C,A,D,C,A,...,33.349001,7.324977,16.272538,4.234659,0.979911,64.828762,44.640482,13.868862,5.873331,0